@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-uppercase">Welcome to LanguageDetector-AI</h1>
    <p class="lead mt-4">
        LanguageDetector-AI is an intelligent assistant designed to empower you with AI-driven capabilities.
    </p>
    <p class="mt-3">
        Whether you're seeking help with <strong>generating text</strong>, <strong>summarizing content</strong>, <strong>writing code</strong>, or <strong>learning something new</strong>, Xuho ChatBot is here to support your personal and professional tasks.
    </p>
    <p class="mt-3">
        Explore a smarter way to interact with your data, enhance creativity, and solve problems — all in one place.
    </p>
</div>
